*~
/.vscode/**
/build/**

# dub
/**/.dub
*.a

# tests generate these
tmp*.o

# Coverage data
*.lst

# Should never be commited, generate when need with ninja -C build apk-polkit-pot
po/apk-polkit.pot

# Should never be commited, it is generated while translating, the .po files should
# be commited
po/*.mo

# subprojects
subprojects/apk-tools

# gede debugger
gede2.ini
