*~
/.vscode/**
/build/**

# dub
/**/.dub
*.a

# tests generate these
tmp*.o

# Coverage data
*.lst

# Should never be commited, generate when need with ninja -C build apk-polkit-pot
po/apk-polkit.pot
